<%= form_with model: @event do |form| %>
  <% if @event.errors.any? %>
    <ul>
      <% @event.errors.full_messages.each do |error| %>
        <li> <%= error %> </li>
      <% end %>
    </ul>
  <% end %>
  <%= form.text_field :title, placeholder: "Title" %>
  <%= form.datetime_field :date_time %>
  <%= form.submit %>
<% end %>